@charset "utf-8";

body {
  margin: 0 auto;
  max-width: 36em;
  padding: 10em 0.75em 15em;
  line-height: 130%;
}

.message {

}

.U04UQ7C74 {
  text-align: left;
  padding-right: 1.5em;

  .message-text {
    background: #D8D7FF;
  }
}

.U04VC798H {
  text-align: right;
  padding-left: 1.5em;

  .message-text {
    background: mediumSpringGreen;
  }
}

.U04VC798H + .U04UQ7C74,
.U04UQ7C74 + .U04VC798H {
  // The style for the first message of each speaker
  margin-top: 0.6em;
}

%speech-bubble-triangles {
  content: "";
  margin-top: -0.4em;
  height: 0;
  width: 0;
  border-top: 0.4em solid rgba(0,0,0,0);
  border-bottom: 0.4em solid rgba(0,0,0,0);
  position: absolute;
  top: 50%;
}

.U04UQ7C74 + .U04VC798H .message-text:before,
.U04VC798H:first-of-type .message-text:before {
  @extend %speech-bubble-triangles;
  border-left: 0.5em solid mediumSpringGreen;
  right: -0.4em;
}

.U04VC798H + .U04UQ7C74 .message-text:before,
.U04UQ7C74:first-of-type .message-text:before {
  @extend %speech-bubble-triangles;
  border-right: 0.5em solid #D8D7FF;
  left: -0.4em;
}

.message-text {
  display: inline-block;
  max-width: 30em;
  border-radius: 5px;
  padding: 0.4em 0.6em;
  margin: 0.15em 0;
  position: relative;

  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    margin: 0.2em 0;

    &:before {
      content: "This sentence is only here to make the element that contains the embedded content the correct width.";
      opacity: 0;
    }

    iframe {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
