---
title: Matt and Andy Discuss Things
---

<% data.bill_burr.each do |message| %>
  <div class="message <%= message.user %>">
    <div class="message-text">
      <%= message.text %>
    </div>
  </div>
<% end %>
